
.background {
  background-image: url(/assets/matches.png);
  height: 80vh;
  width: 60vw;
  left:20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  }
  .text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    line-height: .85px;
  }
  .h2{
    font: italic 950 40px/40px "freight-display-pro", Georgia, "Times New Roman", Serif;
  }
  .mag{
    font: 700 10px/10px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .button{
    position: absolute;
    top:  65%;
    left: 52%;
    transform: translate(-65%, -65%);
    font: 12px "freight-sans-pro", Helvetica, Arial, sans-serif;
    height: 30px;
    text-align: center;
    min-width: 87px;
    display: inline-block;
    color: #fff;
    background: #000;
  }
  ._link{
    color: #fff;
    font: 700 12px/24px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .linktabs{
    display: inline;
    padding: 10px;
    
  }
   .logo {
    background-color: transparent;
    background-image: url(/assets/global/nautilus-logo-sprite@2x.png);
    background-size: 344px;
    width: 172px;
    height: 55px;
    left:20%;
    position: relative;
  
   
  }

  .nav {
    top:80%;
    position: absolute;
    left: 38%;
    text-align: center;
    display: block;

  }

  .medianDiv {
  background: url(/assets/clover_card.jpg);
  height: 30vh;
  width: 60vw;
  left:20%;
  text-align: center;
  position: relative;

  }
  
  .button {
    font: 700 12px/1px "freight-sans-pro", Helvetica, Arial, sans-serif;
    height: 15px;
    text-align: center;
    padding: 12px 10px;
    position: absolute;
    top:  110%;
    left: 52%;
    transform: translate(-65%, -65%);
  }
  .medianText {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffb618;
    font-size: 20px;
    text-align: center;
  }
  .issueTabs {
    background: #f3f3f3;
    z-index: 3;
    position: absolute;
  
  }

  .tabs {
    padding: 15px 0 18px;
  }

  .aside {
    position: relative;
    z-index: 1;
    border-style: solid;
    width: 250px;
    float: left;
  
    }
  
  .subsection {
    position: relative;
    width: 180px;
    height: 170px;
    background: #fff;
    padding: 12px 20px 13px;
    top:100%;
    left:-70.7%;
  }

  .centerDiv {
  display:flex;
  padding-top: 10px;;
  
  }

  .imageCenter {
  background: url(/assets/ai.png);
  height: 40vh;
  width: 80vw;
  text-align: center;
  position: relative;
  
  }

  .midCenter {

    display:flex;

  }

  .midCenter1 {
  background: url(/assets/music.png);
  height: 40vh;
  width: 30vw;
  text-align: center;
  position: relative;

  }

  .centerMiddle {
  background: url(/assets/art.png);
  height: 40vh;
  width: 30vw;
  text-align: center;
  position: relative;
  
  }
 
  .musicTalk {
    position: relative;
    z-index:99;
    width: 188px;
    height: 160px;
    z-index: 3;
    background: #fff;
    padding: 12px 20px 13px;
    top:100%;
    left:32%;
    border:solid;

  }

  .h3 {
    text-align: center;
      font: italic 950 40px/40px "freight-display-pro", Georgia, "Times New Roman", Serif;
    
  }

  .lastItem > h4 {
    text-align: center;
  }
  .container {
    display : flex;
    justify-content: space-evenly;
    padding-bottom: 10px;

  }

  .container1 {
    display : flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
  }

  .container2 {
    display : flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
  }

  .container3 {
    display : flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
  }

  .box {
    background: url(/assets/bio_and_beyond.jpeg);
    height: 30vh;
    width: 20vw;
    text-align: center;
  
  }
  .box2{
    background: url(/assets/wise_sci_and_engineering.png);
    height: 30vh;
    width: 20vw;
    text-align: center;
   
  }
  .box3{
    background: url(/assets/abstractions.jpeg);
    height: 30vh;
    width: 20vw;
    text-align: center;
    position: relative;
  }
  
  .box4{
    background: url(/assets/earth.jpeg);
    height: 30vh;
    width: 20vw;
    text-align: center;
    position: relative;
  }
  .box5{
    background: url(/assets/tlas.jpeg);
    height: 30vh;
    width: 20vw;
    text-align: center;
    position: relative;
  }
  .box6{
    background: url(/assets/cosmos.jpeg);
    height: 30vh;
    width: 20vw;
    text-align: center;
    position: relative;
  }
  .box7{
    background: url(/assets/poetry.jpeg);
    height: 30vh;
    width: 20vw;
    text-align: center;
    position: relative;
  }
  .box8{
    background: url(/assets/aging.png);
    height: 30vh;
    width: 20vw;
    text-align: center;
    position: relative;
  }
  .box9{
    background: url(/assets/alliance.png);
    height: 30vh;
    width: 20vw;
    text-align: center;
   
  }
  .box10{
    background: url(/assets/maxplanck.jpeg);
    height: 30vh;
    width: 20vw;
    text-align: center;
    margin-left: 150px;
  
  }
  .caption{
    color:white;
    font: 550 20px/20px "freight-display-pro", Georgia, "Times New Roman", Serif;
  }